
datasets/Botswana.mat
datasets/Botswana_gt.mat
datasets/Indian_pines.mat
datasets/Cuprite_f970619t01p02_r02_sc03.a.rfl.mat
datasets/Indian_pines_gt.mat
datasets/KSC_gt.mat
datasets/PaviaU.mat
datasets/Salinas.mat
datasets/Salinas_corrected.mat
datasets/Salinas_gt.mat
datasets/SalinasA.mat
datasets/SalinasA_gt.mat
datasets/Pavia.mat
datasets/PaviaU_gt.mat
datasets/Pavia_gt.mat
datasets/SalinasA_corrected.mat
datasets/Indian_pines_corrected.mat
datasets/KSC.mat
